<!DOCTYPE html>
<html>
<head>
    <title>My Checklist</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/checklist.css" />
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/checklist.js"></script>
</head>
<body>
    <div class="cl-container">
        <div class="cb-left-sec">
            <input type="checkbox" id="cb-1" />
        </div>
        <div class="cb-right-sec">
          <input type="text" id="tb-1" placeholder="Enter task description" />
        </div>
        
    </div>
</body>
</html>
